@charset "utf-8";
text {
    color: rgba(18,17,17,1.00);
    font-family: Impact, Haettenschweiler, "Franklin Gothic Bold", "Arial Black", sans-serif;
}
td p a {
    font-size: 14px;
    color: rgba(14,12,12,1.00);
}
